name: Publish Docker
on: [push]
jobs:
  gns3:
    runs-on: ubuntu-latest
    steps:
      
    - uses: actions/checkout@master
      
    - name: Publish to Latest Registry
      uses: elgohr/Publish-Docker-Github-Action@2.9
      with:
        name: ncsurfus/gns3
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        workdir: gns3
        cache: true
        tag_names: true

  vpn:
    runs-on: ubuntu-latest
    steps:
      
    - uses: actions/checkout@master
      
    - name: Publish to Latest Registry
      uses: elgohr/Publish-Docker-Github-Action@2.9
      with:
        name: ncsurfus/gns3-vpn
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        workdir: vpn
        cache: true
        tag_names: true
